/*Nome do aplicativo*/
.Nome_App{
	display: flex;
	justify-content: center;
	padding-top: 50%;
	background-color: white;
	color: #b163bf;
}
/*Caixa de login*/
.caixa_de_login{
	display: flex;
	justify-content: center;
	padding-top: 5rem;
	background-color: #7645bf;
	border: solid;
	border-color: #7645bf;

/*link para cadastro*/
}
.Cadastre-se{
	display: flex;
	justify-content: center;
	background-color: #7645bf;
	color: white;
	border: solid;
	border-color: #7645bf;

}
/*Tela principal do App*/
.Tela_App{
	display: flex;
	justify-content: center;
	padding: 1rem;
	background-color: #7645bf;
	color: white;

}

/*Classe para centralisar img (w3school)*/
.Centro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

/*muda o tamanho do form*/
.form {
   width: 20rem;
   height: 3rem;
   margin: auto;
   position: relative;
 }

 /*muda o tamanho do form*/
.form_cadastro {
   width: 35rem;
   height: 3rem;
   margin: auto;
   position: relative;
 }

 /*Caixa de cadastro*/
.caixa_de_cadastro{
	display: flex;
	justify-content: center;
	padding-top: 5rem;
	background-color: white;
	border: solid;
	border-color: white;
	color: #7645bf;