/*Nome do aplicativo*/
.Nome_App{
	display: flex;
	justify-content: center;
	padding-top: 50%;
	background-color: tomato;
}
/*Caixa de login*/
.caixa_de_login{
	display: flex;
	justify-content: center;
	padding-top: 5rem;
	background-color: olive;

/*link para cadastro*/
}
.Cadastre-se{
	display: flex;
	justify-content: center;
	background-color: olive;

}
/*Tela principal do App*/
.Tela_App{
	display: flex;
	justify-content: center;
	padding: 1rem;
	background-color: darkcyan;

}

/*Classe para centralisar img (w3school)*/
.Centro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

/*muda o tamanho do form*/
.form {
   width: 20rem;
   height: 3rem;
   margin: auto;
   position: relative;
 }